.works{
    border-bottom:1px #dfdfdf solid;
    align-items: center;
}
button{
    transform:scale(0.8);
    background-color: indianred;
    color: white;

}
.works-wrap:hover{
    background-color: #eeeeee;
}
