.foot_wrap {
    padding: 15px;
}

.footMsg {
    border: 1px #dfdfdf solid;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

button {
    transform: scale(0.8);
    background-color: indianred;
    color: white;
}
